doctype html
html
    head
        include _head
    body
        .wrapper
            .wrap-container
                include _top-menu
                main.main.keffy
                    .keffy__wrapper
                        block content