$default-font: 'IBM Plex Sans', sans-serif;

$p-background-color: #ffffff;
$s-background-color: #1D1D1D;

$p-color: #1D1D1D;
$s-color: #fff;

$p-active-color: #fff;
$s-active-color: #B0140E;

$p-icon-disable: #949bca;
$p-icon-active: #ffffff;

$p-text-color: #1D1D1D;
$s-text-color: #fff;
