header.header.keffy__slide
    .col-10.offset-1
        .caption-box
            h1.caption
                span.caption__text._first(data-text1="" data-text2="Wits")
                span.caption__text._right(data-text1="Wits" data-text2="агентство") Wits
                span.caption__text._left(data-text1="агентство" data-text2="цифровой") агентство
                span.caption__text._right(data-text1="цифровой" data-text2="трансформации") цифровой
                span.caption__text._left(data-text1="трансформации" data-text2="") трансформации
        .header__mail
            .header__chief Письмо самому главному
            a.link._s(href="mailto:chief@seomasters.com.ua") chief@seomasters.com.ua
        button.header__button Записаться на консультацию
    .col-10.offset-1.header__next
        i.header__next-icon
        | Трансформируем организации в компании будущего